In [1]:
import pandas as pd
import numpy as np

#Pandas Series

In [2]:
g7 = pd.Series([12.3,23,32.1,12,23.43,34.32,14.3])
g7

0    12.30
1    23.00
2    32.10
3    12.00
4    23.43
5    34.32
6    14.30
dtype: float64

In [9]:
g7.name = 'Population of 7 States'
g7

AP    12.30
TS    23.00
UP    32.10
DL    12.00
TN    23.43
KL    34.32
MP    14.30
Name: Population of 7 States, dtype: float64

In [4]:
g7.values

array([12.3 , 23.  , 32.1 , 12.  , 23.43, 34.32, 14.3 ])

In [5]:
g7[0]

12.3

In [6]:
g7.index

RangeIndex(start=0, stop=7, step=1)

In [7]:
g7.index=[
          'AP',
          'TS',
          'UP',
          'DL',
          'TN',
          'KL',
          'MP'
]

In [10]:
g7

AP    12.30
TS    23.00
UP    32.10
DL    12.00
TN    23.43
KL    34.32
MP    14.30
Name: Population of 7 States, dtype: float64

In [14]:
# we can create Series this way also instead of two step process
x = pd.Series({
               'ap':100,
               'pa':200,
               'mp':300,
               'pm':400
}, name = 'Population of 4 States')
x

ap    100
pa    200
mp    300
pm    400
Name: Population of 4 States, dtype: int64

Advantage of Series: It is orderd<br>
Indexing of Series

In [15]:
x['ap'] #Similar to list or dictionary

100

In [16]:
x.iloc[0]

100

In [17]:
x.iloc[-1]

400

In [20]:
g7.iloc[[0,2,-1]]

AP    12.3
UP    32.1
MP    14.3
Name: Population of 7 States, dtype: float64

In [21]:
g7[['AP','UP','MP']]

AP    12.3
UP    32.1
MP    14.3
Name: Population of 7 States, dtype: float64

In [23]:
g7['AP':'UP'] #here we see that upper limit is included

AP    12.3
TS    23.0
UP    32.1
Name: Population of 7 States, dtype: float64

#Conditional Selection (Boolean Serires)

In [25]:
g7>20

AP    False
TS     True
UP     True
DL    False
TN     True
KL     True
MP    False
Name: Population of 7 States, dtype: bool

In [26]:
g7[g7>20]

TS    23.00
UP    32.10
TN    23.43
KL    34.32
Name: Population of 7 States, dtype: float64

In [27]:
g7[(g7>20)|(g7<25)]

AP    12.30
TS    23.00
UP    32.10
DL    12.00
TN    23.43
KL    34.32
MP    14.30
Name: Population of 7 States, dtype: float64

In [28]:
g7[(g7>20)&(g7<25)]

TS    23.00
TN    23.43
Name: Population of 7 States, dtype: float64

In [30]:
g7['AP'] = 100
g7

AP    100.00
TS     23.00
UP     32.10
DL     12.00
TN     23.43
KL     34.32
MP     14.30
Name: Population of 7 States, dtype: float64

In [32]:
g7[-1] = 99
g7

AP    100.00
TS     23.00
UP     32.10
DL     12.00
TN     23.43
KL     34.32
MP     99.00
Name: Population of 7 States, dtype: float64

In [33]:
g7[g7<25] = 26
g7

AP    100.00
TS     26.00
UP     32.10
DL     26.00
TN     26.00
KL     34.32
MP     99.00
Name: Population of 7 States, dtype: float64